<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication2_AdoNet_AppConf_CS.Properties.Settings.testConnectionString"
            connectionString="Data Source=.\MSSQLSERVER2008;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>